.login h1 {
  color: #20bece;
  padding: 0;
  margin: 0; }

.login h2 {
  margin: 0;
  color: #c9c94f; }

.login a {
  display: flex;
  flex-direction: column-reverse;
  font-size: var(--lumo-font-size-m); }
  .login a img {
    margin: auto; }

.login .hr-strike {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: var(--vaadin-color-secondary);
  font-size: var(--vaadin-font-size-m);
  font-weight: 600;
  margin: 8px 0; }
  .login .hr-strike:before, .login .hr-strike:after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0;
    line-height: 0;
    margin: 0 8px; }
